body {
    margin: 0;
}
/* Nav Bar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #bf0426;
    height: 50px;
    line-height: 50px;
}

.nav-bar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

.navitem {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #023059;
}

/* Welcome Section */

#welcome-section {
    height: 100vh;
    background-color: #023059;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 0;
}

#statement {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    color: #617a92;
    margin-top: 0;
}

/* Project Section */

#projects {
    background-color: #CEECF2;
    padding: 50px 25px;
}

h2 {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #023059;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.project-icon {
    flex-basis: 33%;
    text-decoration: none;
    text-align: center;
    background-color: #023059;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #617a92;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 1px;
    margin: 10px 0;

}

/* Contact Section */

#contact {
    background-color: ;
}

h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 35px;
    margin: 15px;
}

#links {
    width: 100%;
    text-align: center;
}

#contact-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contacts {
    flex-basis: 33%;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
}

.icon {
    height: auto;
    width: 30px;
}

/* Responsiveness for phones */

@media screen and (max-width: 740px) {
    .project-icon {
        flex-basis: 100%;
    }
}






